.landing-page {
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2bcbc;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.landing-home {
    font-size: 24px;
    color: #1b1b1b;
    align-items: center;
}

.landing-description {
    font-size: 16px;
    color: #707070;
}

.landing-routes{
    display:flex;
    align-items:center;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #6a0dad; /* Purple color */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.explore-recipes-btn {
  width: 100%;
  padding: 10px;
  background-color: #6a0dad; /* Purple color */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}